.details {
    ::ng-deep mwl-gauge { // generated in runtime
        display: block;
        height: 150px;
        padding: 10px;
        width: 150px;
    

        .dial {
            stroke-width: 10;
        }

        .value {
            stroke-dasharray: none;
            stroke-width: 13;
        }

        .value-text {
            fill: #fff;
            font-size: 24px;
            font-weight: 700; // bold
        }
    }

    .game-gauge {
        position: absolute;
        top: 50px;
        right: 0;

        &-label {
            bottom: 60px;
            color: #fff;
            font-size: 20px;
            position: relative;
        }
    }
}

.game {
    &-banner {
        height: 442px;
        overflow: hidden;

        &-img {
            filter: blur(5px);
            width: 100%;
        }
    }

    &-content {
        position: relative;
        text-align: center;
        top: -200px;
    }

    &-header {
        &-title {
            color: #fff;
            font-size: 70px;
            font-weight: 700;
            line-height: 70px;
            white-space: nowrap;
        }

        &-release-date {
            color: #fff;
            font-weight: 700;
        }

        &-genres {
            color: #fff;
            font-weight: 700;
        }
    }
}

.details-wrapper {
    margin: 20px auto;
    max-width: 900px;
    position: relative;
}