body {
    background-color: #151515;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    padding-top: 60px;
}

body * {
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}